<div>
  <h3>$<%= @listing.price %></h3>
  <h4><%= @listing.address %></h4>
  <h4><%= @listing.city %>, <%= @listing.city %> <%= @listing.zip %></h4>
</div>
<div>
  <%= gmaps4rails(@listing.to_gmaps4rails) %>
</div>