<div class="row">
  <div class="col-md-8">
    <h3>$<%= @listing.price %></h3>
    <h4><%= @listing.address %></h4>
    <h4><%= @listing.city %>, <%= @listing.city %> <%= @listing.zip %></h4>
  </div>
  <div class="col-md-4">
    <% if current_user == @listing.user %>
      <h3>Need to make changes?</h3>
      <p><a href="<%= edit_listing_url(@listing) %>">Edit listing</a></p>
    <% else %>
      <h3>Contact</h3>
      <p><a href="mailto:<%= @listing.user.email %>"><%= @listing.user.email %></a></p>
    <% end %>
  </div>
</div>
<div>
  <%= gmaps4rails(@listing.to_gmaps4rails) %>
</div>